.pozdrav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    border: 1px solid #000;
    width: 90%;
    height: 90%;
    background-color: #fff;
}

.left-panel {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-right: 1px solid #000;
}

.right-panel {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.predracun,
.kategorije {
    flex: 1;
    border: 1px solid #000;
    margin-bottom: 10px;
    overflow-y: auto;
    padding: 10px;
    overflow: scroll;
}

.kategorije form {
    display: flex;
    flex-wrap: wrap;
    /* omogoči prelom vrstic */
    gap: 10px;
    /* razmik med gumbi */
}

.kategorije button {
    flex: 1 1 30%;
    /* vsak gumb naj bo vsaj 30% širine */
    min-width: 150px;
    /* minimalna širina gumba */
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #2C9801;
    /* zeleni gumb */
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
    /* poravnava besedila */
}

.kategorije button:hover {
    background-color: rgba(36, 126, 1, 0.9);
    /* temnejša barva ob hoverju */
}

.kategorije button:focus {
    outline: none;
}

.odprti-racuni,
.mize,
.racun,
.izhod {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
}